.album-art {
  margin-right: 20px;
  width: 200px;
}

.album-art__image {
  width: 100%;
}

.radio-player {
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.radio-player__timetag {
  background-color: #373a3c;
  font-size: 1em;
  position: relative;
  bottom: 24px;
}

.radio-player__data {
  margin-bottom: 5px;
}

.radio-player__volume {
	background: transparent;
  border: 1px solid grey;
  color: white;
  height: 37px;
  padding-left: 13px;
  width: 57px;
}

.radio-player__controls {
  margin-bottom: 5px;
}

.radio-player__control {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
}

progress {
  background-color: #373a3c;
  border: none;
  color: #373a3c;
  position: relative;
  top: -26px;
  width: 100%;
}

progress::-webkit-progress-value {
  background-color: #0064b4;
}

progress::-moz-progress-value {
  background-color: #0064b4;
}

/* Hide input arrows in firefox */
input[type=number] {
	-moz-appearance: textfield;
}
