.album-art {
  display: inline-block;
  margin-right: 20px;
  width: 200px;
}

.album-art__image {
  width: 100%;
}

.center-album {
  padding: 25px 75px;
}

.radio-player {
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.radio-player__timetag {
  background-color: #373a3c;
  border-bottom-right-radius: 0;
  font-size: 1em;
  margin-bottom: -3px;
}

.radio-player__volume {
	background: transparent;
  border: none;
  bottom: 5px;
  color: white;
  height: 37px;
  padding-left: 5px;
  position: relative;
  width: 35px;
}

.radio-player__volume:focus {
  outline: none;
}

.radio-player__volume-up,
.radio-player__volume-down {
  cursor: pointer;
  font-size: 12px;
  font-weight: 200;
  position: relative;
}

.radio-player__volume-up {
  top: 9px;
}

.radio-player__volume-down {
  top: 7px;
}

.radio-player__controls {
  margin-bottom: 10px;
}

.radio-player__control {
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  margin-right: 10px;
}

.radio-player__progress {
  margin-top: -30px;
}

progress {
  background-color: #373a3c;
  border: none;
  color: #373a3c;
  width: 100%;
}

progress::-webkit-progress-value {
  background-color: #0064b4;
}

progress::-moz-progress-value {
  background-color: #0064b4;
}

/* Hide input arrows */
input[type=number] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.radio-player__misc {
  margin-top: 10px;
}

.radio-player__ui-changer {
  clear: both;
  display: block;
  float: right;
  margin-top: 20px;
}

