<div class="card">
  <div class="card-block clickable" (click)="playRadio()">
    <h4 class="card-title" title="{{song.title}}">{{song.title | slice:0:47}}{{song.title.length > 50 ? '...':''}}</h4>
  </div>
  <img src="{{song.artwork_url || '/assets/headphones.jpg'}}" class="clickable" alt="Card image" (click)="playRadio()">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" title="Song length"><i class="fa fa-clock-o"></i> 
      {{song.duration | duration}}
    </li>
    <!-- <li class="list&#45;group&#45;item" title="Genre"><i class="fa fa&#45;object&#45;group"></i> {{song.genre}}</li> -->
    <li class="list-group-item" title="Release year"><i class="fa fa-calendar-o"></i> 
      {{song.release_year || song.created_at | amDateFormat:'YYYY'}}
    </li>
    <li class="list-group-item" title="Likes"><i class="fa fa-thumbs-up"></i> 
      {{song.likes_count | number}}
    </li>
    <li class="list-group-item" title="Plays"><i class="fa fa-play-circle-o"></i> 
      {{song.playback_count | number}}
    </li>
  </ul>
  <div class="card-block">
    <span class="card-link clickable" (click)="playRadio()"><i class="fa fa-play"></i> Play Song</span>
  </div>
</div>
