<div class="container">
  <div class="col-xs-8 offset-xs-2">
    <h2 class="text-block">
      <i class="fa fa-heart"></i> 
      Favorite Stations
    </h2>
    <div class="text-block">
      <div *ngIf="!favorites.length">
        No favorite stations yet.
      </div>
      <div class="scroll">
        <div *ngFor="let radioStation of favorites.slice(0, 100).reverse()">
          <a [routerLink]="['/radio', radioStation.id]" class="favorite-play">
            {{radioStation.title}} <em>(added {{ radioStation.addedAt | amTimeAgo }})</em>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

